.test {
    background: aqua;
}

.test1 {
    background: blue;
}

#div-gaojie {
    padding-top: 20px;
}

#div-explore {
    padding-top: 20px;
}

p2 {
    background: #eeeeee;
    padding: 8px;
    margin-top: 8px;
}

button {
    background: #41a6ff;
    padding: 10px;
    color: white;
}