html, body {
    margin: 0;
    padding: 0;
}

#nav {
    height: 50px;
    background: #F3F3F3;
    padding: 0 30px;
    min-width: 960px;
}

#logo {
    float: left;
}

#logo a {
    color: #333;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
}

#nav-items {
    float: left;
    margin: 0;
}

#nav-items-r {
    float: right;
    margin: 0;
}

#nav .nav-item {
    float: left;
    list-style: none;
    border-right: 1px solid #DDD;

}

#nav .nav-item a {
    color: #333;
    text-decoration: none;
    font-size: 16px;
    line-height: 50px;
    display: block;
    height: 50px;
    padding: 0 20px;
}

#nav .nav-item:last-child {
    border: none;
}

#nav .nav-item a:hover {
    height: 40px;
    padding-top: 5px;
    line-height: 40px;
    background: #DDD;
    border-bottom: 5px solid #999;
}

.clear {
    clear: both;
}

#nav .nav-content {
    width: 960px;
    margin:0 auto;
}